@charset "UTF-8";

/*  
pequenas telas até 600px
celular de 600px até 786px
tablet de 768px até 992px
desktop de 992px até 1200px
grandes acima de 1200px
*/
@media screen and (min-width: 768px){
    i#burguer{
        display: none;
    }
    nav{
        display: block;
    }
    nav > a{
        display: inline-block;
    }

    header{
        padding: 3.0em;
        width: 100vw;
        height: 100vh;
    }


    a:link{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: #5C3E09;
    }
    a:visited {
        color: white;
    }
    
}