@charset "UTF-8";

/*  
pequenas telas até 600px
celular de 600px até 786px
tablet de 768px até 992px
desktop de 992px até 1200px
grandes acima de 1200px
*/
@media screen and (min-width: 768px){
    i#burguer{
        display: none;
    }
    nav{
        display: block;
    }
    nav > a{
        display: inline-block;
    }

    header{
        padding: 3.0em;
        padding-top: 2.5em;
        font-size: 1.6em;
        width: 100vw;
        height: 100vh;
    }

    header > h2{
        margin-top: 2.2em;
        background-color: var(--cor1);
        border-radius: 20px;
           
    }

    section.img > img{
        background-color: white;
        width: 90px;
        padding: 8px;
        margin:20px;
        border-radius: 20%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
        box-sizing: border-box;
    }


    a:link{
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: #5C3E09;
    }
    a:visited {
        color: white;
    }
    
}