@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*versão mobile first*/
:root{
    --cor0:#9C6810;    
    --cor1:#5C3E09;
    --cor2:#DB9315;
    --cor3:#C28213;
    
}

*{ 
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body, html {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}


i#burguer{
    background-color: var(--cor1);   /*novo*/
    color: white;
    display: block;
    text-align: center;
    cursor: pointer;
    
    
}

i#burguer:hover{
    background-color: var(--cor2);
    color: var(--cor0);
}

nav{
    display: none; /*novo*/
    background-color: var(--cor1);
    box-shadow: 0px 7px 7px rgba(0,0,0,0.363);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: fixed;
    width: 100vw;
    text-align: center;
}
nav > a{
    display: block; /*novo*/
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    font-size: 18px;
    
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor1);
}

.letra{
    font-family: 'Press Start 2P', cursive;
    
  
}

header{
    background-color: var(--cor3);
    color: white;
    font-family: 'Russo One', sans-serif; 
    font-size: 1.8em;
    text-align: center;
    padding: 0.2em; 
    padding-top: 2.0em; 
    width: 100vw;
    height: 93vh;
}

header > p{
    margin-top: 3.0em;  /*0.6em;*/
    font-size: 0.4em; /*0.4em;*/
    background-color: var(--cor1);
    color: white;
    padding: 5px;
    border-radius: 20px;
    
    
}

header > h2{
    margin-top: 1.2em;
    background-color: var(--cor1);
    border-radius: 20px;
    font-size: 0.4em;
    
    
   

}

section#perfil{
    background-color: var(--cor0);
    color: white;
    font-size: 0.4em;
    font-weight: bold;
    text-align: center;
    
}
section#perfil > h1{
    font-size: 2.8em;
    padding-top: 0.8em;   
} 

section#perfil > img{
    padding-bottom: 0.8em; 
}

section#curriculo{
    background-color: var(--cor3);
    color: white;
    font-size: 0.4em;
    font-weight: bold;
    text-align: center;
}

section#curriculo > h1{
    font-size: 2.3em;
    padding-top: 0.8em;
} 

section.img > img{
    background-color: white;
    width: 90px;
    padding: 8px;
    margin:20px;
    border-radius: 20%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section.img > img:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .5s, border 1s;
}


section#redes-sociais{
    text-align: center;
    background-color: white;
   
}
section#redes-sociais img{
    width: 80px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .5s, border 1s;
}

a:link{
    color: white;
}
a:hover{
    text-decoration: none;
    color: var(--cor1);
}
a:visited {
    color: white;
}

footer{
    background-color: rgba(0, 0, 0, 0.801);
    padding-top: 0.8em;
    color: white;
    text-align: center;
    font-size: 0.3em;
    height: 4em;
    
    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 225px;
        background-color: gray;
        border: 1px solid #000;
        color: white;
        z-index: 9999;
        border-radius: 15px 15px 15px 15px;
      }
      
      .popup h1 {
        font-size: 24px;
        margin-bottom: 10px;
        background-color: rgb(75, 75, 75);
        border-radius: 12px 12px 0px 0px;
        
      }
      
      .popup p {
        font-size: 16px;
        line-height: 1.5;
        background-color: rgb(79, 79, 79);
        
      }
      